body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  min-width: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 150%;
  min-width: 100%;
  border-bottom: .125px solid lightgrey;
}

header h1 {
  padding-bottom: 5px;
  font-family: 'nyt-karnakcondensed';
}

.guess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  min-width: 375px;
  gap: 5px;
}

.guess {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 95%;
  height: 15%;
  gap: 10px;
}

.letterbox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  border: 2px solid rgb(192, 189, 189);
  font-size: 250%;
  font-weight:bolder;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 22%;
  min-width: 500px;
  /* border: 1px solid black; */
}

.keybd-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 95%;
}

.key {
  background: #d3d6da;
  width: 9%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:.5px solid #d3d6da;
  border-radius: 10%;
  font-weight:bold;
}

.keybd-row-3 {
  min-width: 510px;
}

.keybd-row-1 {
  min-width: 510px;
}

#ENTER, #BACKSPACE {
  padding: 0px 7px;
  width: auto;
}

.success {
  background-color: #6aaa64;
  color: #fff;
  border: 2px solid #6aaa64;
}

.near-success {
  background-color: #c9b458;
  color: #fff;
  border: 2px solid #c9b458;
}

.fail {
  background-color: #787c7e;
  color: #fff;
  border: 2px solid #787c7e;
}

#modal-warning {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  width: 150px; 
  height: 4%; 
  align-items: center;
  justify-content: center;
  border-radius: 4%;
  color: white;
  background-color: #000;
  margin-top: 100px;
}

#modal-game-over {
  /* display: block; */
  display: none;
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 25%; 
  height: 35%; 
  color:#000;
  background-color: #fff;
  margin-top: 200px;
  /* border-radius: 3%; */
  justify-content: flex-start;
  filter: drop-shadow(0px 0px 16px #777);
}

.warning-text {
  padding: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: small;
}

.filled-letterbox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  border: 2px solid #777;
  font-size: 250%;
  font-weight:bolder;
}

#close {
  padding-right: 12px;
  padding-top: 12px;
}

#close:hover {
  cursor: pointer;
}

#close-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
